# Default owners
* @TheCodeVerseHub/eclipse-linux-maintainers

# Rust installer code
/eclipse-installer/ @TheCodeVerseHub/eclipse-linux-maintainers @TheCodeVerseHub/eclipse-linux-contributors

# Build & runtime scripts
/scripts/ @TheCodeVerseHub/eclipse-linux-maintainers @TheCodeVerseHub/eclipse-linux-contributors

# Documentation
/README.md @TheCodeVerseHub/documentation @TheCodeVerseHub/documentation
/CONTRIBUTING.md @TheCodeVerseHub/documentation @TheCodeVerseHub/documentation

# Security policy
/SECURITY.md @TheCodeVerseHub/security @TheCodeVerseHub/security

# GitHub configuration
/.github/ @TheCodeVerseHub/eclipse-linux-maintainers
